/* stylelint-disable property-no-vendor-prefix */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff;
}

h3, h5 {
    font-weight: 400;
}

html,
body {
    height: 100%;
    background-color: #0a0a0a;
}

body {
    color: #fff;
    text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
}

.logo {
    height: 180px;
    margin-bottom: 50px;
}

.cover {
    padding: 0 20px;
}

.cover {
    padding: 10px 20px;
    font-weight: 700;
}

.btn-lg {
    color: #fff;
    border: none;
    margin-top: 30px;
    border-radius: 25px;
    background-color: #e71c34;
    font-size: 20px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    .masthead {
        position: fixed;
        top: 0;
    }

    .site-wrapper-inner {
        vertical-align: middle;
    }

    .masthead,
    .cover-container {
        width: 100%;
    }
}

@media (min-width: 992px) {

    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}